<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileMetadataTag" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFileMetadataTag" contract="IFileMetadataTag"
                name="BasicHttpBinding_IFileMetadataTag" />
    </client>
  </system.serviceModel>
</configuration>