@page

@model MediaWebApp.Pages.File.AddFileModel
@{
    ViewData["Title"] = "Add Media File";
}

<h1>Add an Image or Video File</h1>

<form method="post">
    <label class="col-form-label">
        Enter path file:
        <input asp-for="FileDTO.Path" class="form-control" type="text" placeholder="Please enter the full path of an image/video file" />
    </label>
    <input type="submit" class="btn btn-primary" />
</form>

